.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
}

.swiper-wrapper {
    transition: 800ms ease-in-out !important;
    transition-duration: 800ms !important;
}
