.break-back {
    background-image: url(../../../assets/WomenBack5.jpg);
    background-attachment: fixed;
    background-position: center center;
    margin-top: 8rem;
    position: relative;
}

.break-back::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.250);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}